---
title: Slack Themes
---

<% themes.each do |theme| %>
<label class="radio theme_label theme_<%= theme.slug %>">
    <img src="/images/theme/<%= theme.slug %>-<%= theme.digest %>.png" class="theme_thumb"><br>
    <input name="sidebar_theme_rd" type="radio" value="<%= theme.colors %>" ng-model="theme" ng-change="setTheme()"> <%= theme.name %>
</label>
<% end %>
